<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>File</key>
			<string>com.mono0926.LicensePlist/Alamofire</string>
			<key>Title</key>
			<string>Alamofire</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.mono0926.LicensePlist/AlamofireImage</string>
			<key>Title</key>
			<string>AlamofireImage</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.mono0926.LicensePlist/apollo-ios</string>
			<key>Title</key>
			<string>apollo-ios</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.mono0926.LicensePlist/devicon</string>
			<key>Title</key>
			<string>devicon</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.mono0926.LicensePlist/FDFullscreenPopGesture</string>
			<key>Title</key>
			<string>FDFullscreenPopGesture</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.mono0926.LicensePlist/HidingNavigationBar</string>
			<key>Title</key>
			<string>HidingNavigationBar</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.mono0926.LicensePlist/HtmlLabel</string>
			<key>Title</key>
			<string>Html Label</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.mono0926.LicensePlist/KeychainAccess</string>
			<key>Title</key>
			<string>KeychainAccess</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.mono0926.LicensePlist/LicensePlist</string>
			<key>Title</key>
			<string>License Plist</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.mono0926.LicensePlist/OAuthSwift</string>
			<key>Title</key>
			<string>OAuthSwift</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.mono0926.LicensePlist/SkeletonView</string>
			<key>Title</key>
			<string>SkeletonView</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.mono0926.LicensePlist/SQLite.swift</string>
			<key>Title</key>
			<string>SQLite.swift</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
	</array>
</dict>
</plist>
